
<style>
    body {
        background-color:#fffaf0;
    }
</style>

<div class="row" >

    <div class="panel-body">
        <a href="#!/admin">
            <img src="images/logo-netflorist.png"  width="300" height="200" alt="logo" />
        </a>

    </div>



</div>
<div class="container">
   
    <div  class="text-center">
        <h1 class="title">Products Available </h1>

        <hr />
    </div>  

    <div class="table-responsive">          
        <table class="table table-bordered" style="border: 4px">

            <thead style="background-color:pink">
                <tr>
                    <th>Product Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
<!--                    <th>BatchQuantity</th>-->
<!--                    <th>Category</th>-->
                    <th>Edit</th>
                    <th>Delete</th>

                    <th><a class="glyphicon glyphicon-refresh" ng-click="reload()"></a></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="prod in products">
                    <td>{{ prod.product_id }}</td>
                    <td>{{prod.name}}<br/><img ng-src="/stock/{{prod.image}}" alt="" style="width: 60px; height: 50px;"/>
                    </td>
                    <td>{{ prod.description }}</td>
                    <td>{{ prod.price | currency : "R" }}</td>
                    <td>{{ prod.prod_quantity- prod.quantity}}
                    </td>
<!--                    <td>{{ prod.batchQuantity}}
                    </td>-->
<!--                    <td>{{ prod.category }}</td>-->
                    <td>
                        <button  ng-click="redirectToUpdate(prod)" class="btn btn-primary btn-xs" ><span class="glyphicon glyphicon-pencil"></span>Update</button>
                    </td>

                    <td><button class="btn btn-danger btn-xs delete"  ng-click="deleteProd(prod)" ><span class="glyphicon glyphicon-trash"></span>Delete</button></td>

                </tr>
            </tbody>
        </table>
    </div>
</div>











