<style>
    body {
        background-color:#fffaf0;
    }
    /*                .navbar-custom {
            background-color:#D3D3D3;
            border-color:#D3D3D3;
        }*/
    .navbar {
        margin-bottom: 8px;
        border-radius: 5px;
    }
</style>

<div class="row">
    <div class="panel-body">
        <a href="#!/">
            <img src="images/logo-netflorist.png"  width="300" height="200" alt="logo" />
        </a>

    </div>

    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Netflorist</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#!/customerOrder">Orders</a></li>
                   

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>




    <br/><br/><br/><br/>

    <div class="jumbotron text-center" style="background-color:pink; width:100%">
        <h1>Welcome to NetFlorist...</h1>
        <p>Delivery Management!!</p> 
    </div>
</div>



<!--<div class="container">
    <div  class="text-center">
        <h1 class="title">Customer Order</h1>
        <hr />
    </div>                                                                               
    <div class="table-responsive table-bordered">          
        <table class="table">

            <thead style="background-color:pink">
                <tr>
                    <th>OrderID</th>
                    <th>CustID</th>
                                                                     <th>Bank id</th>
                    <th>Order Date</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Status</th> 
                    <th>Update Delivery Status</th>

                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="order in customerOrder">
                    <td>{{order.orderId}}</td>
                    <td>{{order.custId}}</td>
                                                <td>{{order.bankDetailId}}</td>
                    <td>{{order.orderedDate}}</td>
                    <td>{{order.price | currency : "R"}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        <button  onclick="document.getElementById('d01').style.display = 'block'" class="btn btn-basic">Delivery Details</button>

                     <button href="#!/delivery" class="btn btn-basic">Delivery Details</button>


                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>-->







