<style>
    body {
        background-color:#fffaf0;
    }
    /*            .navbar-custom {
        background-color:#D3D3D3;
        border-color:#D3D3D3;
    }*/
    .navbar {
        margin-bottom: 8px;
        border-radius: 5px;
    }
</style>

<div class="row" >

    <div class="panel-body">
        <a href="#!/supplier">
            <img src="images/logo-netflorist.png"  width="300" height="200" alt="logo"/>
        </a>

    </div>

    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!--                <a class="navbar-brand" href="#">Netflorist</a>-->
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li class="active"><a href="#">Home </a></li>
                    <!--                    <li><a href="#!/addProduct">Supply Products</a></li>-->
                    <!--                    <li><a href="#!/stock">Product Requested </a></li>-->

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#!/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div class="jumbotron text-center" style="background-color:pink; width:100%;height:-10%">
    <h2>Welcome to NetFlorist...</h2>
    <p>Supply Management!!</p> 
</div>



<!--Quantity on Supplier-->

<div class="container">

    <div class="product-block" ng-repeat="prod in products" style="width:250px; height: 340px;font-weight: bold;color: #004579">
        <div class="card text-xs-center">  <img ng-src="/stock/{{prod.image}}"  style="width:120px; height: 150px;"/>
            <!--            <h5 class="card-title" > {{prod.name}}</h5>
                        <h5> {{prod.description}}</h5>-->
            <!--            <h5 style="color:#E45E9D"> {{prod.category}}</h5>-->
            <!--            <p class="card-text price" style="font-weight: bold">{{prod.price | currency : "R"}}</p>-->


            <!--Quantity-->
            <span>
                <div class="input-group spinner" >

               
                    Add to batch:   <input  class="form-control" type="text" readonly=""
                                           step="0"  ng-model="prod.prod_quantity" value="{{prod.prod_quantity}}" />

                </div>
                <h5 type="number" ng-model="prod.batchQuantity"  value="{{prod.batchQuantity}}"> Batches: {{prod.batchQuantity}}</h5>

              
                                    <h5 type="number"   style="color: red">Thresh hold Quantity: {{prod.threshholdQty}}</h5>

            </span>

            <button type="button" class="btn btn-success " ng-click ="updateQuantity(prod)"  >Update Quantity</button>
            <!--Quantity-->



        </div>
    </div>

</div>



